# Project 9: Web Scraping, APIs & Wrappers (US Stocks)

## Web Scraping - the Dow Jones Constituents

In [1]:
import pandas as pd

In [5]:
pd.read_html("https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average")

[                                                   0  \
 0  Historical logarithmic graph of the DJIA from ...
 1                                         Foundation
 2                                           Operator
 3                                          Exchanges
 4                                     Trading symbol
 5                                       Constituents
 6                                               Type
 7                                         Market cap
 8                                   Weighting method
 9                                            Website

                                                    1
 0  Historical logarithmic graph of the DJIA from ...
 1  February 16, 1885; 139 years ago (as DJA)[1] M...
 2                              S&P Dow Jones Indices
 3                      New York Stock ExchangeNasdaq
 4                                  ^DJI$INDU.DJIDJIA
 5                                                 30
 6                                          Large cap
 7      US$19.5 trillion (as of December 31, 2024)[3]
 8                               Price-weighted index
 9                         www.spglobal.com/spdji/en/  ,
     0                                                  1
 0 NaN  This table's "industry" column's factual accur...,
                Company Exchange Symbol                        Industry  \
 0                   3M     NYSE    MMM                    Conglomerate
 1     American Express     NYSE    AXP              Financial services
 2                Amgen   NASDAQ   AMGN               Biopharmaceutical
 3               Amazon   NASDAQ   AMZN                       Retailing
 4                Apple   NASDAQ   AAPL          Information technology
 5               Boeing     NYSE     BA           Aerospace and defense
 6          Caterpillar     NYSE    CAT         Construction and mining
 7              Chevron     NYSE    CVX              Petroleum industry
 8                Cisco   NASDAQ   CSCO          Information technology
 9            Coca-Cola     NYSE     KO                  Drink industry
 10              Disney     NYSE    DIS  Broadcasting and entertainment
 11       Goldman Sachs     NYSE     GS              Financial services
 12          Home Depot     NYSE     HD                Home Improvement
 13           Honeywell   NASDAQ    HON                    Conglomerate
 14                 IBM     NYSE    IBM          Information technology
 15   Johnson & Johnson     NYSE    JNJ         Pharmaceutical industry
 16      JPMorgan Chase     NYSE    JPM              Financial services
 17          McDonald's     NYSE    MCD                   Food industry
 18               Merck     NYSE    MRK         Pharmaceutical industry
 19           Microsoft   NASDAQ   MSFT          Information technology
 20                Nike     NYSE    NKE               Clothing industry
 21              Nvidia   NASDAQ   NVDA          Information technology
 22    Procter & Gamble     NYSE     PG      Fast-moving consumer goods
 23          Salesforce     NYSE    CRM          Information technology
 24    Sherwin-Williams     NYSE    SHW            Speciality chemicals
 25           Travelers     NYSE    TRV                       Insurance
 26  UnitedHealth Group     NYSE    UNH             Managed health care
 27             Verizon     NYSE     VZ     Telecommunications industry
 28                Visa     NYSE      V              Financial services
 29             Walmart     NYSE    WMT                       Retailing

     Date added                                  Notes Index weighting
 0   1976-08-09  As Minnesota Mining and Manufacturing           2.11%
 1   1982-08-30                                    NaN           4.37%
 2   2020-08-31                                    NaN           3.89%
 3   2024-02-26                                    NaN           3.21%
 4   2015-03-19                                    NaN           3.25%
 5   1987-03-12                                    NaN           2.46%
 6   1991-05-06                                    NaN           5.13%
 7   2008-02-19          Also 1930-07-18 to 1999-11-01           2.14%
 8   2009-06-08                                    NaN           0.83%
 9   1987-03-12          Also 1932-05-26 to 1935-11-20           0.88%
 10  1991-05-06                                    NaN           1.55%
 11  2013-09-23                                    NaN           8.84%
 12  1999-11-01                                    NaN           5.67%
 13  2020-08-31             AlliedSignal and Honeywell           3.07%
 14  1979-06-29          Also 1932-05-26 to 1939-03-04           3.54%
 15  1997-03-17                                    NaN           2.09%
 16  1991-05-06                                    NaN           3.67%
 17  1985-10-30                                    NaN           3.97%
 18  1979-06-29                                    NaN           1.35%
 19  1999-11-01                                    NaN           5.68%
 20  2013-09-23                                    NaN           1.07%
 21  2024-11-08                                    NaN           1.71%
 22  1932-05-26                                    NaN           2.29%
 23  2020-08-31                                    NaN           4.70%
 24  2024-11-08                                    NaN           5.00%
 25  2009-06-08                                    NaN           3.41%
 26  2012-09-24                                    NaN           7.47%
 27  2004-04-08                                    NaN           0.54%
 28  2013-09-23                                    NaN           4.70%
 29  1997-03-17                                    NaN           1.35%  ,
      Year  Closing Value Net Change % Change
 0    1896          40.45      −0.49    −1.20
 1    1897          49.41      +8.96   +22.15
 2    1898          60.52     +11.11   +22.49
 3    1899          66.08      +5.56    +9.19
 4    1900          70.71      +4.63    +7.01
 ..    ...            ...        ...      ...
 124  2020       30606.48   +2068.04    +7.25
 125  2021       36338.30   +5731.82   +18.73
 126  2022       33147.25  −3,191.05    −8.78
 127  2023       37689.54   +4542.29   +13.70
 128  2024       42544.22   +4854.68   +12.88

 [129 rows x 4 columns],
    vteComponents of the Dow Jones Industrial Average  \
 0  3M Amazon American Express Amgen Apple Boeing ...

   vteComponents of the Dow Jones Industrial Average.1
 0  3M Amazon American Express Amgen Apple Boeing ...   ,
   vteMajor North and South American stock market indices  \
 0                                      United States
 1                                             Canada
 2                                             Mexico
 3                                           Colombia
 4                                             Brazil
 5                                              Chile
 6                                          Argentina
 7                                               Peru

   vteMajor North and South American stock market indices.1
 0  Dow Jones Industrial Average Dow Jones Transpo...
 1                 S&P/TSX 60 S&P/TSX Composite Index
 2                   Indice de Precios y Cotizaciones
 3  COLCAP Indice General de la Bolsa de Valores d...
 4                                     Índice Bovespa
 5             Índice de Precio Selectivo de Acciones
 6                                             MERVAL
 7                         S&P/BVL Peru General Index        ,
                                          vteNews Corp  \
 0                     Sister company: Fox Corporation
 1   vteDow Jones & CompanyNational consumer produc...
 2                              vteDow Jones & Company
 3                          National consumer products
 4                                 Enterprise products
 5   vteHarperCollinsUnited States Avon Caedmon Ecc...
 6                                    vteHarperCollins
 7                                       United States
 8                                      United Kingdom
 9                                           Australia
 10                                          Christian
 11                                             Canada
 12  vteNews Corp AustraliaNewspapersMetropolitan T...
 13                             vteNews Corp Australia
 14                                         Newspapers
 15                                       Metropolitan
 16                                           Regional
 17                                         Queensland
 18                                              Other
 19  vteNews Corp Australia community newspapersNew...
 20        vteNews Corp Australia community newspapers
 21                                    NewsLocal (NSW)
 22                                     Messenger (SA)
 23                                        Quest (Qld)
 24                                           Victoria
 25                                         Television
 26                              vteSky News Australia
 27                                           Channels
 28                                             Active
 29                                            Defunct
 30                                        Programming
 31                  vteSky News Australia programming
 32                                            Current
 33                                            Daytime
 34                                          Primetime
 35                                             Former
 36                                            Daytime
 37                                          Primetime
 38                                          Magazines
 39                                              Other
 40                                    Former holdings
 41  vteNews UKNewspapersDaily The Sun (1969) The T...
 42                                         vteNews UK
 43                                         Newspapers
 44                                              Daily
 45                                       Former Daily
 46                                             Sunday
 47                                      Former Sunday
 48                                           Regional
 49                                           Magazine
 50                                              Radio
 51                           News Broadcasting (2016)
 52                                          Streaming
 53                                       Other assets
 54        See also: 21st Century Fox News Corporation

                                        vteNews Corp.1  Unnamed: 2
 0                     Sister company: Fox Corporation         NaN
 1   vteDow Jones & CompanyNational consumer produc...         NaN
 2                              vteDow Jones & Company         NaN
 3   Barron's Financial News Investor's Business Da...         NaN
 4                Factiva S&P Dow Jones Indices (2.6%)         NaN
 5   vteHarperCollinsUnited States Avon Caedmon Ecc...         NaN
 6                                    vteHarperCollins         NaN
 7   Avon Caedmon Ecco Harper Harper Perennial I Ca...         NaN
 8   William Collins, Sons Collins Bartholomew The ...         NaN
 9                                   Angus & Robertson         NaN
 10  BibleGateway.com Thomas Nelson Women of Faith ...         NaN
 11           Harlequin Enterprises Love Inspired Mira         NaN
 12  vteNews Corp AustraliaNewspapersMetropolitan T...         NaN
 13                             vteNews Corp Australia         NaN
 14  Metropolitan The Australian Daily Telegraph (S...         NaN
 15  The Australian Daily Telegraph (Sydney) Sunday...         NaN
 16  Queensland Balonne Beacon Bowen Independent Th...         NaN
 17  Balonne Beacon Bowen Independent The Cairns Po...         NaN
 18  The Coffs Coast Advocate The Daily Examiner Ge...         NaN
 19  vteNews Corp Australia community newspapersNew...         NaN
 20        vteNews Corp Australia community newspapers         NaN
 21  Manly Daily North Shore Times Northern Distric...         NaN
 22  News Review Leader Standard Eastern Courier Ea...         NaN
 23                      South-West News Southern Star         NaN
 24                        Leader Community Newspapers         NaN
 25  vteSky News AustraliaChannelsActive Sky News L...         NaN
 26                              vteSky News Australia         NaN
 27  Active Sky News Live Sky News Extra Sky News W...         NaN
 28  Sky News Live Sky News Extra Sky News Weather ...         NaN
 29  Sky News Business Channel Sky News Election Ch...         NaN
 30  vteSky News Australia programmingCurrentDaytim...         NaN
 31                  vteSky News Australia programming         NaN
 32  Daytime Agenda First Edition Weekend Outsiders...         NaN
 33             Agenda First Edition Weekend Outsiders         NaN
 34           Credlin Paul Murray Live The Bolt Report         NaN
 35  Daytime Keneally and Cameron PVO NewsDay Pyne ...         NaN
 36  Keneally and Cameron PVO NewsDay Pyne & Marles...         NaN
 37  Credlin Keneally Friday Live Hinch Live Hadley...         NaN
 38            Big League GQ Australia Vogue Australia         NaN
 39  ARN Media (15%) Brisbane Broncos (69%) Busines...         NaN
 40  Australian Associated Press (47%) ADS (Adelaid...         NaN
 41  vteNews UKNewspapersDaily The Sun (1969) The T...         NaN
 42                                         vteNews UK  vteNews UK
 43  Daily The Sun (1969) The Times (1981) Former D...         NaN
 44                    The Sun (1969) The Times (1981)         NaN
 45                                  Today (1987–1995)         NaN
 46   The Sunday Times (1981) The Sun on Sunday (2012)         NaN
 47  News of the World (1969–2011) Sunday Today (1987)         NaN
 48                       The London Paper (2006–2009)         NaN
 49               The Times Literary Supplement (1981)         NaN
 50  News Broadcasting (2016) TalkRadio Talksport T...         NaN
 51    TalkRadio Talksport Times Radio Virgin Radio UK         NaN
 52                                        Talk (2022)         NaN
 53  Move Realtor.com New York Post News America Ma...         NaN
 54        See also: 21st Century Fox News Corporation         NaN  ,
        vteDow Jones & Company  \
 0  National consumer products
 1         Enterprise products

                             vteDow Jones & Company.1
 0  Barron's Financial News Investor's Business Da...
 1               Factiva S&P Dow Jones Indices (2.6%)  ,
   vteHarperCollins                                 vteHarperCollins.1
 0    United States  Avon Caedmon Ecco Harper Harper Perennial I Ca...
 1   United Kingdom  William Collins, Sons Collins Bartholomew The ...
 2        Australia                                  Angus & Robertson
 3        Christian  BibleGateway.com Thomas Nelson Women of Faith ...
 4           Canada           Harlequin Enterprises Love Inspired Mira,
                                vteNews Corp Australia  \
 0                                          Newspapers
 1                                        Metropolitan
 2                                            Regional
 3                                          Queensland
 4                                               Other
 5   vteNews Corp Australia community newspapersNew...
 6         vteNews Corp Australia community newspapers
 7                                     NewsLocal (NSW)
 8                                      Messenger (SA)
 9                                         Quest (Qld)
 10                                           Victoria
 11                                         Television
 12                              vteSky News Australia
 13                                           Channels
 14                                             Active
 15                                            Defunct
 16                                        Programming
 17                  vteSky News Australia programming
 18                                            Current
 19                                            Daytime
 20                                          Primetime
 21                                             Former
 22                                            Daytime
 23                                          Primetime
 24                                          Magazines
 25                                              Other
 26                                    Former holdings

                              vteNews Corp Australia.1
 0   Metropolitan The Australian Daily Telegraph (S...
 1   The Australian Daily Telegraph (Sydney) Sunday...
 2   Queensland Balonne Beacon Bowen Independent Th...
 3   Balonne Beacon Bowen Independent The Cairns Po...
 4   The Coffs Coast Advocate The Daily Examiner Ge...
 5   vteNews Corp Australia community newspapersNew...
 6         vteNews Corp Australia community newspapers
 7   Manly Daily North Shore Times Northern Distric...
 8   News Review Leader Standard Eastern Courier Ea...
 9                       South-West News Southern Star
 10                        Leader Community Newspapers
 11  vteSky News AustraliaChannelsActive Sky News L...
 12                              vteSky News Australia
 13  Active Sky News Live Sky News Extra Sky News W...
 14  Sky News Live Sky News Extra Sky News Weather ...
 15  Sky News Business Channel Sky News Election Ch...
 16  vteSky News Australia programmingCurrentDaytim...
 17                  vteSky News Australia programming
 18  Daytime Agenda First Edition Weekend Outsiders...
 19             Agenda First Edition Weekend Outsiders
 20           Credlin Paul Murray Live The Bolt Report
 21  Daytime Keneally and Cameron PVO NewsDay Pyne ...
 22  Keneally and Cameron PVO NewsDay Pyne & Marles...
 23  Credlin Keneally Friday Live Hinch Live Hadley...
 24            Big League GQ Australia Vogue Australia
 25  ARN Media (15%) Brisbane Broncos (69%) Busines...
 26  Australian Associated Press (47%) ADS (Adelaid...  ,
                                                    0  \
 0                                       Metropolitan
 1                                           Regional
 2                                         Queensland
 3                                              Other
 4  vteNews Corp Australia community newspapersNew...
 5        vteNews Corp Australia community newspapers
 6                                    NewsLocal (NSW)
 7                                     Messenger (SA)
 8                                        Quest (Qld)
 9                                           Victoria

                                                    1
 0  The Australian Daily Telegraph (Sydney) Sunday...
 1  Queensland Balonne Beacon Bowen Independent Th...
 2  Balonne Beacon Bowen Independent The Cairns Po...
 3  The Coffs Coast Advocate The Daily Examiner Ge...
 4  vteNews Corp Australia community newspapersNew...
 5        vteNews Corp Australia community newspapers
 6  Manly Daily North Shore Times Northern Distric...
 7  News Review Leader Standard Eastern Courier Ea...
 8                      South-West News Southern Star
 9                        Leader Community Newspapers  ,
             0                                                  1
 0  Queensland  Balonne Beacon Bowen Independent The Cairns Po...
 1       Other  The Coffs Coast Advocate The Daily Examiner Ge...,
   vteNews Corp Australia community newspapers  \
 0                             NewsLocal (NSW)
 1                              Messenger (SA)
 2                                 Quest (Qld)
 3                                    Victoria

        vteNews Corp Australia community newspapers.1
 0  Manly Daily North Shore Times Northern Distric...
 1  News Review Leader Standard Eastern Courier Ea...

In [4]:
const = pd.read_html("https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average")[2] 
const

,Company,Exchange,Symbol,Industry,Date added,Notes,Index weighting
0,3M,NYSE,MMM,Conglomerate,1976-08-09,As Minnesota Mining and Manufacturing,2.11%
1,American Express,NYSE,AXP,Financial services,1982-08-30,NaN,4.37%
2,Amgen,NASDAQ,AMGN,Biopharmaceutical,2020-08-31,NaN,3.89%
3,Amazon,NASDAQ,AMZN,Retailing,2024-02-26,NaN,3.21%
4,Apple,NASDAQ,AAPL,Information technology,2015-03-19,NaN,3.25%
5,Boeing,NYSE,BA,Aerospace and defense,1987-03-12,NaN,2.46%
6,Caterpillar,NYSE,CAT,Construction and mining,1991-05-06,NaN,5.13%
7,Chevron,NYSE,CVX,Petroleum industry,2008-02-19,Also 1930-07-18 to 1999-11-01,2.14%
8,Cisco,NASDAQ,CSCO,Information technology,2009-06-08,NaN,0.83%
9,Coca-Cola,NYSE,KO,Drink industry,1987-03-12,Also 1932-05-26 to 1935-11-20,0.88%
10,Disney,NYSE,DIS,Broadcasting and entertainment,1991-05-06,NaN,1.55%
11,Goldman Sachs,NYSE,GS,Financial services,2013-09-23,NaN,8.84%
12,Home Depot,NYSE,HD,Home Improvement,1999-11-01,NaN,5.67%
13,Honeywell,NASDAQ,HON,Conglomerate,2020-08-31,AlliedSignal and Honeywell,3.07%
14,IBM,NYSE,IBM,Information technology,1979-06-29,Also 1932-05-26 to 1939-03-04,3.54%
15,Johnson & Johnson,NYSE,JNJ,Pharmaceutical industry,1997-03-17,NaN,2.09%
16,JPMorgan Chase,NYSE,JPM,Financial services,1991-05-06,NaN,3.67%
17,McDonald's,NYSE,MCD,Food industry,1985-10-30,NaN,3.97%
18,Merck,NYSE,MRK,Pharmaceutical industry,1979-06-29,NaN,1.35%
19,Microsoft,NASDAQ,MSFT,Information technology,1999-11-01,NaN,5.68%
20,Nike,NYSE,NKE,Clothing industry,2013-09-23,NaN,1.07%
21,Nvidia,NASDAQ,NVDA,Information technology,2024-11-08,NaN,1.71%
22,Procter & Gamble,NYSE,PG,Fast-moving consumer goods,1932-05-26,NaN,2.29%
23,Salesforce,NYSE,CRM,Information technology,2020-08-31,NaN,4.70%
24,Sherwin-Williams,NYSE,SHW,Speciality chemicals,2024-11-08,NaN,5.00%
25,Travelers,NYSE,TRV,Insurance,2009-06-08,NaN,3.41%
26,UnitedHealth Group,NYSE,UNH,Managed health care,2012-09-24,NaN,7.47%
27,Verizon,NYSE,VZ,Telecommunications industry,2004-04-08,NaN,0.54%
28,Visa,NYSE,V,Financial services,2013-09-23,NaN,4.70%
29,Walmart,NYSE,WMT,Retailing,1997-03-17,NaN,1.35%

In [6]:
const = const.iloc[:, :5].copy()
const

,Company,Exchange,Symbol,Industry,Date added
0,3M,NYSE,MMM,Conglomerate,1976-08-09
1,American Express,NYSE,AXP,Financial services,1982-08-30
2,Amgen,NASDAQ,AMGN,Biopharmaceutical,2020-08-31
3,Amazon,NASDAQ,AMZN,Retailing,2024-02-26
4,Apple,NASDAQ,AAPL,Information technology,2015-03-19
5,Boeing,NYSE,BA,Aerospace and defense,1987-03-12
6,Caterpillar,NYSE,CAT,Construction and mining,1991-05-06
7,Chevron,NYSE,CVX,Petroleum industry,2008-02-19
8,Cisco,NASDAQ,CSCO,Information technology,2009-06-08
9,Coca-Cola,NYSE,KO,Drink industry,1987-03-12
10,Disney,NYSE,DIS,Broadcasting and entertainment,1991-05-06
11,Goldman Sachs,NYSE,GS,Financial services,2013-09-23
12,Home Depot,NYSE,HD,Home Improvement,1999-11-01
13,Honeywell,NASDAQ,HON,Conglomerate,2020-08-31
14,IBM,NYSE,IBM,Information technology,1979-06-29
15,Johnson & Johnson,NYSE,JNJ,Pharmaceutical industry,1997-03-17
16,JPMorgan Chase,NYSE,JPM,Financial services,1991-05-06
17,McDonald's,NYSE,MCD,Food industry,1985-10-30
18,Merck,NYSE,MRK,Pharmaceutical industry,1979-06-29
19,Microsoft,NASDAQ,MSFT,Information technology,1999-11-01
20,Nike,NYSE,NKE,Clothing industry,2013-09-23
21,Nvidia,NASDAQ,NVDA,Information technology,2024-11-08
22,Procter & Gamble,NYSE,PG,Fast-moving consumer goods,1932-05-26
23,Salesforce,NYSE,CRM,Information technology,2020-08-31
24,Sherwin-Williams,NYSE,SHW,Speciality chemicals,2024-11-08
25,Travelers,NYSE,TRV,Insurance,2009-06-08
26,UnitedHealth Group,NYSE,UNH,Managed health care,2012-09-24
27,Verizon,NYSE,VZ,Telecommunications industry,2004-04-08
28,Visa,NYSE,V,Financial services,2013-09-23
29,Walmart,NYSE,WMT,Retailing,1997-03-17

In [7]:
const.rename(columns = {"Date added":"Date_Added"}, inplace = True)

In [8]:
const.Date_Added = pd.to_datetime(const.Date_Added)

In [9]:
const.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Company     30 non-null     object
 1   Exchange    30 non-null     object
 2   Symbol      30 non-null     object
 3   Industry    30 non-null     object
 4   Date_Added  30 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

## Normalizing Unicode Strings and Getting the Ticker Symbols

In [10]:
const

,Company,Exchange,Symbol,Industry,Date_Added
0,3M,NYSE,MMM,Conglomerate,1976-08-09
1,American Express,NYSE,AXP,Financial services,1982-08-30
2,Amgen,NASDAQ,AMGN,Biopharmaceutical,2020-08-31
3,Amazon,NASDAQ,AMZN,Retailing,2024-02-26
4,Apple,NASDAQ,AAPL,Information technology,2015-03-19
5,Boeing,NYSE,BA,Aerospace and defense,1987-03-12
6,Caterpillar,NYSE,CAT,Construction and mining,1991-05-06
7,Chevron,NYSE,CVX,Petroleum industry,2008-02-19
8,Cisco,NASDAQ,CSCO,Information technology,2009-06-08
9,Coca-Cola,NYSE,KO,Drink industry,1987-03-12
10,Disney,NYSE,DIS,Broadcasting and entertainment,1991-05-06
11,Goldman Sachs,NYSE,GS,Financial services,2013-09-23
12,Home Depot,NYSE,HD,Home Improvement,1999-11-01
13,Honeywell,NASDAQ,HON,Conglomerate,2020-08-31
14,IBM,NYSE,IBM,Information technology,1979-06-29
15,Johnson & Johnson,NYSE,JNJ,Pharmaceutical industry,1997-03-17
16,JPMorgan Chase,NYSE,JPM,Financial services,1991-05-06
17,McDonald's,NYSE,MCD,Food industry,1985-10-30
18,Merck,NYSE,MRK,Pharmaceutical industry,1979-06-29
19,Microsoft,NASDAQ,MSFT,Information technology,1999-11-01
20,Nike,NYSE,NKE,Clothing industry,2013-09-23
21,Nvidia,NASDAQ,NVDA,Information technology,2024-11-08
22,Procter & Gamble,NYSE,PG,Fast-moving consumer goods,1932-05-26
23,Salesforce,NYSE,CRM,Information technology,2020-08-31
24,Sherwin-Williams,NYSE,SHW,Speciality chemicals,2024-11-08
25,Travelers,NYSE,TRV,Insurance,2009-06-08
26,UnitedHealth Group,NYSE,UNH,Managed health care,2012-09-24
27,Verizon,NYSE,VZ,Telecommunications industry,2004-04-08
28,Visa,NYSE,V,Financial services,2013-09-23
29,Walmart,NYSE,WMT,Retailing,1997-03-17

In [11]:
const.Symbol[1]

'AXP'

In [12]:
const.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Company     30 non-null     object
 1   Exchange    30 non-null     object
 2   Symbol      30 non-null     object
 3   Industry    30 non-null     object
 4   Date_Added  30 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [13]:
import unicodedata

In [15]:
const.Symbol.apply(lambda x: unicodedata.normalize("NFKD", x))[0]

'MMM'

In [16]:
const.Symbol = const.Symbol.apply(lambda x: unicodedata.normalize("NFKD", x))

In [17]:
const.Symbol[1]

'AXP'

In [18]:
const.Symbol.str.split(": ").apply(lambda x: x[-1])

0      MMM
1      AXP
2     AMGN
3     AMZN
4     AAPL
5       BA
6      CAT
7      CVX
8     CSCO
9       KO
10     DIS
11      GS
12      HD
13     HON
14     IBM
15     JNJ
16     JPM
17     MCD
18     MRK
19    MSFT
20     NKE
21    NVDA
22      PG
23     CRM
24     SHW
25     TRV
26     UNH
27      VZ
28       V
29     WMT
Name: Symbol, dtype: object

In [19]:
const["Ticker"] = const.Symbol.str.split(": ").apply(lambda x: x[-1])

In [20]:
const

,Company,Exchange,Symbol,Industry,Date_Added,Ticker
0,3M,NYSE,MMM,Conglomerate,1976-08-09,MMM
1,American Express,NYSE,AXP,Financial services,1982-08-30,AXP
2,Amgen,NASDAQ,AMGN,Biopharmaceutical,2020-08-31,AMGN
3,Amazon,NASDAQ,AMZN,Retailing,2024-02-26,AMZN
4,Apple,NASDAQ,AAPL,Information technology,2015-03-19,AAPL
5,Boeing,NYSE,BA,Aerospace and defense,1987-03-12,BA
6,Caterpillar,NYSE,CAT,Construction and mining,1991-05-06,CAT
7,Chevron,NYSE,CVX,Petroleum industry,2008-02-19,CVX
8,Cisco,NASDAQ,CSCO,Information technology,2009-06-08,CSCO
9,Coca-Cola,NYSE,KO,Drink industry,1987-03-12,KO
10,Disney,NYSE,DIS,Broadcasting and entertainment,1991-05-06,DIS
11,Goldman Sachs,NYSE,GS,Financial services,2013-09-23,GS
12,Home Depot,NYSE,HD,Home Improvement,1999-11-01,HD
13,Honeywell,NASDAQ,HON,Conglomerate,2020-08-31,HON
14,IBM,NYSE,IBM,Information technology,1979-06-29,IBM
15,Johnson & Johnson,NYSE,JNJ,Pharmaceutical industry,1997-03-17,JNJ
16,JPMorgan Chase,NYSE,JPM,Financial services,1991-05-06,JPM
17,McDonald's,NYSE,MCD,Food industry,1985-10-30,MCD
18,Merck,NYSE,MRK,Pharmaceutical industry,1979-06-29,MRK
19,Microsoft,NASDAQ,MSFT,Information technology,1999-11-01,MSFT
20,Nike,NYSE,NKE,Clothing industry,2013-09-23,NKE
21,Nvidia,NASDAQ,NVDA,Information technology,2024-11-08,NVDA
22,Procter & Gamble,NYSE,PG,Fast-moving consumer goods,1932-05-26,PG
23,Salesforce,NYSE,CRM,Information technology,2020-08-31,CRM
24,Sherwin-Williams,NYSE,SHW,Speciality chemicals,2024-11-08,SHW
25,Travelers,NYSE,TRV,Insurance,2009-06-08,TRV
26,UnitedHealth Group,NYSE,UNH,Managed health care,2012-09-24,UNH
27,Verizon,NYSE,VZ,Telecommunications industry,2004-04-08,VZ
28,Visa,NYSE,V,Financial services,2013-09-23,V
29,Walmart,NYSE,WMT,Retailing,1997-03-17,WMT

In [21]:
ticker_list = const.Ticker.to_list()

In [22]:
ticker_list

['MMM',
 'AXP',
 'AMGN',
 'AMZN',
 'AAPL',
 'BA',
 'CAT',
 'CVX',
 'CSCO',
 'KO',
 'DIS',
 'GS',
 'HD',
 'HON',
 'IBM',
 'JNJ',
 'JPM',
 'MCD',
 'MRK',
 'MSFT',
 'NKE',
 'NVDA',
 'PG',
 'CRM',
 'SHW',
 'TRV',
 'UNH',
 'VZ',
 'V',
 'WMT']

In [24]:
const.to_csv("const.csv", index = False)

## Loading and Saving Historical Stock Prices

In [26]:
import pandas as pd
import yfinance as yf

Note: From yfinance version 0.2.48, loading one symbol with yf.download() will lead to a Multi Level Index. <br>
To avoid this, set multi_level_index=False

In [27]:
yf.download("^DJI") # creates a Multi Level Index (from yfinance 0.2.48)

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

Price              Close          High           Low          Open     Volume
Ticker              ^DJI          ^DJI          ^DJI          ^DJI       ^DJI
Date
1992-01-02   3172.399902   3172.629883   3139.310059   3152.100098   23550000
1992-01-03   3201.500000   3210.639893   3165.919922   3172.399902   23620000
1992-01-06   3200.100098   3213.330078   3191.860107   3201.500000   27280000
1992-01-07   3204.800049   3210.199951   3184.479980   3200.100098   25510000
1992-01-08   3203.899902   3229.199951   3185.820068   3204.800049   29040000
...                  ...           ...           ...           ...        ...
2025-02-11  44593.648438  44640.601562  44319.511719  44401.378906  453440000
2025-02-12  44368.558594  44467.210938  44104.480469  44357.699219  444470000
2025-02-13  44711.429688  44768.261719  44366.621094  44425.941406  513960000
2025-02-14  44546.078125  44769.050781  44498.960938  44720.988281  474570000
2025-02-18  44556.339844  44602.019531  44319.320312  44583.898438  551796930

[8342 rows x 5 columns]

In [28]:
yf.download("^DJI", multi_level_index=False) # avoids Multi Level Index (from yfinance 0.2.48)

[*********************100%***********************]  1 of 1 completed

                   Close          High           Low          Open     Volume
Date
1992-01-02   3172.399902   3172.629883   3139.310059   3152.100098   23550000
1992-01-03   3201.500000   3210.639893   3165.919922   3172.399902   23620000
1992-01-06   3200.100098   3213.330078   3191.860107   3201.500000   27280000
1992-01-07   3204.800049   3210.199951   3184.479980   3200.100098   25510000
1992-01-08   3203.899902   3229.199951   3185.820068   3204.800049   29040000
...                  ...           ...           ...           ...        ...
2025-02-11  44593.648438  44640.601562  44319.511719  44401.378906  453440000
2025-02-12  44368.558594  44467.210938  44104.480469  44357.699219  444470000
2025-02-13  44711.429688  44768.261719  44366.621094  44425.941406  513960000
2025-02-14  44546.078125  44769.050781  44498.960938  44720.988281  474570000
2025-02-18  44556.339844  44602.019531  44319.320312  44583.898438  551796930

[8342 rows x 5 columns]

In [29]:
dji = yf.download("^DJI", start = "2007-01-01",  end = "2020-03-31", multi_level_index=False)

[*********************100%***********************]  1 of 1 completed

In [30]:
dji

                   Close          High           Low          Open     Volume
Date
2007-01-03  12474.519531  12580.349609  12404.820312  12459.540039  327200000
2007-01-04  12480.690430  12510.410156  12403.860352  12473.160156  259060000
2007-01-05  12398.009766  12480.129883  12365.410156  12480.049805  235220000
2007-01-08  12423.490234  12445.919922  12337.370117  12392.009766  223500000
2007-01-09  12416.599609  12466.429688  12369.169922  12424.769531  225190000
...                  ...           ...           ...           ...        ...
2020-03-24  20704.910156  20737.699219  19649.250000  19722.189453  799340000
2020-03-25  21200.550781  22019.929688  20538.339844  21050.339844  796320000
2020-03-26  22552.169922  22595.060547  21427.099609  21468.380859  705180000
2020-03-27  21636.779297  22327.570312  21469.269531  21898.470703  588830000
2020-03-30  22327.480469  22378.089844  21522.080078  21678.220703  545540000

[3333 rows x 5 columns]

In [31]:
dji.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3333 entries, 2007-01-03 to 2020-03-30
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Close   3333 non-null   float64
 1   High    3333 non-null   float64
 2   Low     3333 non-null   float64
 3   Open    3333 non-null   float64
 4   Volume  3333 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 156.2 KB

In [32]:
dji.to_csv("dji.csv")

In [33]:
ticker_list

['MMM',
 'AXP',
 'AMGN',
 'AMZN',
 'AAPL',
 'BA',
 'CAT',
 'CVX',
 'CSCO',
 'KO',
 'DIS',
 'GS',
 'HD',
 'HON',
 'IBM',
 'JNJ',
 'JPM',
 'MCD',
 'MRK',
 'MSFT',
 'NKE',
 'NVDA',
 'PG',
 'CRM',
 'SHW',
 'TRV',
 'UNH',
 'VZ',
 'V',
 'WMT']

In [34]:
prices = yf.download(ticker_list, start = "2007-01-01", end = "2020-03-31")

[*********************100%***********************]  30 of 30 completed

In [35]:
prices

Price           Close                                                \
Ticker           AAPL        AMGN       AMZN        AXP          BA
Date
2007-01-03   2.521844   48.101948   1.935000  45.646587   64.405754
2007-01-04   2.577819   50.162445   1.945000  45.313839   64.665726
2007-01-05   2.559461   50.281994   1.918500  44.716419   64.391273
2007-01-08   2.572100   49.881153   1.875000  45.139904   64.239594
2007-01-09   2.785764   50.120262   1.889000  44.852535   63.560665
...               ...         ...        ...        ...         ...
2020-03-24  59.912609  174.923981  97.004997  78.552544  127.680000
2020-03-25  59.582554  166.970566  94.292000  84.272232  158.729996
2020-03-26  62.717979  171.595703  97.774498  87.188187  180.550003
2020-03-27  60.121304  171.405502  95.004997  82.926445  162.000000
2020-03-30  61.837036  180.232040  98.197502  84.365723  152.279999

Price                                                                 ...  \
Ticker             CAT         CRM       CSCO        CVX         DIS  ...
Date                                                                  ...
2007-01-03   38.026787    8.967413  18.378695  35.568844   27.971546  ...
2007-01-04   37.927299    9.417400  18.862514  35.223007   28.192369  ...
2007-01-05   37.442345    9.825123  18.869143  35.358337   27.963369  ...
2007-01-08   37.485855    9.927053  18.975185  35.809410   28.216904  ...
2007-01-09   37.691017    9.934511  18.869143  35.398441   28.176010  ...
...                ...         ...        ...        ...         ...  ...
2020-03-24   91.108025  152.786606  33.048122  53.907330   96.922653  ...
2020-03-25   94.101814  146.243164  32.251884  56.110592   99.500809  ...
2020-03-26   99.343170  153.870560  34.743351  61.869892  104.074310  ...
2020-03-27   94.794052  145.189056  33.236477  55.713696   95.223648  ...
2020-03-30  100.430992  149.017670  34.520729  58.281467   98.582153  ...

Price         Volume                                                    \
Ticker          MSFT       NKE        NVDA        PG      SHW      TRV
Date
2007-01-03  76935100  17299200  1154820000   9717900  2683800  3432800
2007-01-04  45774500  15085600   797298000   8711400  2011500  2068200
2007-01-05  44607200  14996800  1243344000   9907900  3147000  2104600
2007-01-08  50220200  10109600   657270000  11068200  3131400  2440900
2007-01-09  44636600  15167200   764166000  10823800  2774100  1319500
...              ...       ...         ...       ...      ...      ...
2020-03-24  82516700  18849500  1101644000  14625500  3735300  4293300
2020-03-25  75638200  27053200   793432000  13789100  2766900  4151400
2020-03-26  64568100  17200800   696108000  15796000  2562900  4610600
2020-03-27  57042300  14183400   638828000  16073100  1990500  3085400
2020-03-30  63420300  10960100   602252000  14571600  2259600  2733700

Price
Ticker           UNH           V        VZ        WMT
Date
2007-01-03   8360300         NaN  21445850  107061900
2007-01-04   5152500         NaN  19215860   51219000
2007-01-05   6215700         NaN  19047041   40670700
2007-01-08   4344100         NaN  20370917   49189200
2007-01-09   5483900         NaN  16281352   43929600
...              ...         ...       ...        ...
2020-03-24   8894400  24488300.0  40626900   42705000
2020-03-25  10014000  20619600.0  38551300   53287500
2020-03-26   7517600  17062900.0  32610900   58250700
2020-03-27   4879500  14950700.0  25363600   36160500
2020-03-30   5329000  15714500.0  20660200   29212500

[3333 rows x 150 columns]

In [36]:
prices.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3333 entries, 2007-01-03 to 2020-03-30
Columns: 150 entries, ('Close', 'AAPL') to ('Volume', 'WMT')
dtypes: float64(121), int64(29)
memory usage: 3.8 MB

In [37]:
prices = prices.loc[:,"Close"].copy()

In [38]:
prices

Ticker,AAPL,AMGN,AMZN,AXP,BA,CAT,CRM,CSCO,CVX,DIS,...,MSFT,NKE,NVDA,PG,SHW,TRV,UNH,V,VZ,WMT
Date,,,,,,,,,,,,,,,,,,,,,
2007-01-03,2.521844,48.101948,1.935000,45.646587,64.405754,38.026787,8.967413,18.378695,35.568844,27.971546,...,21.277882,9.683738,0.551474,38.382359,16.672323,34.745800,41.900414,NaN,14.051737,10.829035
2007-01-04,2.577819,50.162445,1.945000,45.313839,64.665726,37.927299,9.417400,18.862514,35.223007,28.192369,...,21.242252,9.782889,0.548875,38.090946,16.588133,34.453800,42.171402,NaN,14.129759,10.881413
2007-01-05,2.559461,50.281994,1.918500,44.716419,64.391273,37.442345,9.825123,18.869143,35.358337,27.963369,...,21.121105,9.798753,0.514485,37.763855,16.301365,34.006123,41.884460,NaN,13.888252,10.792596
2007-01-08,2.572100,49.881153,1.875000,45.139904,64.239594,37.485855,9.927053,18.975185,35.809410,28.216904,...,21.327759,9.769007,0.518306,37.847111,16.232958,33.753056,42.498188,NaN,13.826283,10.703780
2007-01-09,2.785764,50.120262,1.889000,44.852535,63.560665,37.691017,9.934511,18.869143,35.398441,28.176010,...,21.349140,9.890960,0.508218,37.751957,16.390816,33.668716,41.988064,NaN,13.882619,10.792596
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-24,59.912609,174.923981,97.004997,78.552544,127.680000,91.108025,152.786606,33.048122,53.907330,96.922653,...,142.272598,68.476837,6.207204,91.265213,145.133743,84.419800,205.110825,149.132248,37.667419,35.730801
2020-03-25,59.582554,166.970566,94.292000,84.272232,158.729996,94.101814,146.243164,32.251884,56.110592,99.500809,...,140.910660,74.800964,6.118523,89.188385,144.379364,83.014885,218.819153,156.129044,37.629749,33.981998
2020-03-26,62.717979,171.595703,97.774498,87.188187,180.550003,99.343170,153.870560,34.743351,61.869892,104.074310,...,149.724808,79.809166,6.407982,94.897430,149.008148,88.859619,238.322372,162.981003,40.342342,34.112461
2020-03-27,60.121304,171.405502,95.004997,82.926445,162.000000,94.794052,145.189056,33.236477,55.713696,95.223648,...,143.576950,78.796158,6.295636,97.363121,146.936676,90.012352,226.247147,155.916702,39.762146,34.037918
2020-03-30,61.837036,180.232040,98.197502,84.365723,152.279999,100.430992,149.017670,34.520729,58.281467,98.582153,...,153.676300,80.831635,6.615986,101.631645,154.023605,92.389870,234.487030,159.786652,41.269146,35.780506

In [39]:
prices.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3333 entries, 2007-01-03 to 2020-03-30
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AAPL    3333 non-null   float64
 1   AMGN    3333 non-null   float64
 2   AMZN    3333 non-null   float64
 3   AXP     3333 non-null   float64
 4   BA      3333 non-null   float64
 5   CAT     3333 non-null   float64
 6   CRM     3333 non-null   float64
 7   CSCO    3333 non-null   float64
 8   CVX     3333 non-null   float64
 9   DIS     3333 non-null   float64
 10  GS      3333 non-null   float64
 11  HD      3333 non-null   float64
 12  HON     3333 non-null   float64
 13  IBM     3333 non-null   float64
 14  JNJ     3333 non-null   float64
 15  JPM     3333 non-null   float64
 16  KO      3333 non-null   float64
 17  MCD     3333 non-null   float64
 18  MMM     3333 non-null   float64
 19  MRK     3333 non-null   float64
 20  MSFT    3333 non-null   float64
 21  NKE     3333 non-null   float64
 22  NVDA    3333 non-null   float64
 23  PG      3333 non-null   float64
 24  SHW     3333 non-null   float64
 25  TRV     3333 non-null   float64
 26  UNH     3333 non-null   float64
 27  V       3029 non-null   float64
 28  VZ      3333 non-null   float64
 29  WMT     3333 non-null   float64
dtypes: float64(30)
memory usage: 807.2 KB

In [ ]:
prices.to_csv("const_prices.csv")